
<div class="wrapper">
		<!--<div class="typewriter">Nullam id dolor id nibh ultricies vehicula ut id elit. 
			Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, 
			dapibus ac facilisis in, egestas eget quam.
		</div>
		
		<button class="begin">Let's Begin</button>-->
	<div class="homeMain">
		<div class="col-md-3 leftCont">
			<div class="bg-overlay"></div>
		<div class="col-md-12">
			<div class="profileText">
				<h2>Sajidha Basheer</h2>
			</div>
			<div class="profileImg">
				<img src="../assets/images/dp.JPG" class="img-responsive img-circle">
				<a href="/contact"><p><span>Hire Me !</span></p></a>
			</div>
			
		</div>
		<div class="col-md-12 bottom">
			<app-menu></app-menu>			
		</div>
    	</div>
		<div class="col-md-9 rightCont">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>