<div class="icons">
	<!--<div class="homeText">
	<p>I am a Website designer and front-end developer with a Bachelor of Engineering degree from Mumbai University. Proficient in creating responsive designs for websites and UI/UX design for desktop, tablet and mobile. I enjoy turning complex problems into simple, beautiful and intuitive interface designs. When I'm not coding or pushing pixels, you'll find me in my library or swiping my phone.</p>
	</div>
	<div class="col-md-3">
		<i class="fa fa-desktop" aria-hidden="true"></i>
		<h3>Website Design</h3>
	</div>
	<div class="col-md-3">
		<i class="fa fa-code" aria-hidden="true"></i>
		<h3>Front-End Development</h3>
	</div>
	<div class="col-md-3">
		<i class="fa fa-window-restore" aria-hidden="true"></i>
		<h3>Responsive Design</h3>
	</div>
	<div class="col-md-3">
		<i class="fa fa-magnet" aria-hidden="true"></i>
		<h3>UI/UX</h3>
	</div>-->
	<iframe width="" height="" src="https://www.youtube.com/embed/15cpIHjEsWI?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="skills">
	<!--<div class="col-md-6">
		<h2>Uniquely Creative</h2>
	</div>
	<div class="col-md-6">
		<h2>Analytical Approach</h2>
	</div>
	<div class="col-md-6">
		<h2>Excellent Communication</h2>
	</div>
	<div class="col-md-6">
		<h2>Quick Learner</h2>
	</div>-->
</div>